<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(#{introduction.title}, false, ~{::template})">
	<title>About</title>
	<template>
	<meta name="description" content="About Ultimate Tennis Statistics and Tennis Crystal Ball match prediction and tournament forecasts"/>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<h4 class="text-nowrap"><i class="fa fa-home"></i> [[#{introduction.title}]]</h4>
			<p>
				[[#{introduction.content}]]
			</p>
		</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>