<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: commonHead(#{contact.title}, false, ~{::template})">
	<title>About</title>
	<template>
	<meta property="fb:admins" content="UltmTennisStats"/>
	<script type="text/javascript">
		$(function() {
			loadRankingTopN("RANK");
			bindPopovers();
		});
	</script>
	</template>
</head>
<body class="container">
	<header th:include="fragments/header :: title"></header>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<h4 class="text-nowrap"><i class="fa fa-home"></i> [[#{contact.title}]]</h4>
			<p>
				[[#{contact.content}]]
			</p>
		</div>
	</div>
	<th:block th:include="fragments/deviceDetector :: deviceDetectors"/>
	<footer th:include="fragments/footer :: copy"></footer>
</body>
</html>